<div class="td row player {{skin}} mini">
    {{#unless nowPlaying}}
    <div class="tdspinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
    {{/unless}}
    {{#with nowPlaying}}
        <div class="large-2 medium-6 small-12 columns controls mini-controls">
            <div class="buttons mini-buttons">
                <i class="tdicon-angle-double-left player-prev prev"></i>
                <i class="tdicon-play-circle-outline player-play play"></i>
                <i class="tdicon-angle-double-right player-next next"></i>
            </div>
        </div>
        {{#if error}}
            <div class="large-4 columns">
                <div class="tdlarge-12 tdsmall-12 tdcolumns track-error-box">
                    <span class="track-error-box-span"><i class="tdicon-warning"></i> {{errorMessage}} </span>
                </div>
            </div>
        {{else}}
            {{#if streamable}}
                <div class="large-4 medium-6 small-12 columns mini-scrubber">
                  
                    <div class="row scrubber-box">
                        <div class="medium-2 small-2 columns start-time">0:00</div>
                        <div class="medium-8 small-8 columns scrub-bar-box">
                            <input type="text" class="scrubber-slider">
                        </div>
                        <div class="medium-2 small-2 columns stop-time">
                            {{msToTimestamp nowPlaying.duration}}
                            <i class="tdicon-circle-o-notch spin tdloader"></i>
                        </div>
                    </div>
                  
                </div>
            {{else}}
                <div class="medium-4 columns">
                    <div class="tdlarge-12 tdsmall-12 tdcolumns track-error-box">
                        <span class="track-error-box-span"><i class="tdicon-warning"></i> This track is not streamable.</span>
                    </div>
                </div>
            {{/if}}
        {{/if}}
        <div class="large-6 medium-12 small-12 columns mini-info">
            <div class="mini-song-info ">
                <div class="small-12 song-name">

                    <a href="{{permalink_url}}" target="_blank">{{title}}</a>
                </div>
                <div class="small-12 artist-name">
                    <a href="{{user.permalink_url}}" target="_blank">{{user.username}}</a>
                </div>


                
            </div>
        </div>
        
    {{/with}}

</div>
